#service
DATABASE_URL="postgresql://postgres:postgres@postgres_auth:5432/auth_db?schema=public"
JWT_SECRET = "sdofmlshp23-fldwfcjwfj"
RMQ_URL=amqp://rabbitmq:5672
RMQ_AUTH_QUEUE=auth_queue
RMQ_MAIN_QUEUE=main_queue

#db
POSTGRES_DB=auth_db 
POSTGRES_USER=postgres 
POSTGRES_PASSWORD=postgres 